{% extends 'base.html'%}
{%load static%}
{%block title%}
Skills
{%endblock title %}
{%block body_block%}
<link rel="stylesheet" href="{%static 'assets/css/custom.css'%}">



<section class="skills" id="skills">

    <h2 class="heading"><i class="fas fa-laptop-code"></i> Skills & <span>Abilities</span></h2>

    <div class="container">
          <div class="row" id="skillsContainer">
                    <div class="bar">
              <div class="info">
                <img src="https://img.icons8.com/color/48/000000/bootstrap.png" alt="skill">
                <span>Bootstrap</span>
              </div>
            </div>
                         <div class="bar">
              <div class="info">
                <img src="https://img.icons8.com/color/48/000000/html-5--v1.png">
                <span>HTML5</span>
              </div>
            </div>
                         <div class="bar">
              <div class="info">
                <img src="https://img.icons8.com/color/48/000000/css3.png">
                <span>CSS3</span>
              </div>
            </div>
                         <div class="bar">
              <div class="info">
                <img src="https://img.icons8.com/color/48/000000/javascript--v1.png">
                <span>JavaScript</span>
              </div>
            </div>
                         <div class="bar">
              <div class="info">
                <img src="https://img.icons8.com/color/48/000000/java-coffee-cup-logo--v1.png">
                <span>Java</span>
              </div>
            </div>
                         <div class="bar">
              <div class="info">
                <img src="https://img.icons8.com/color/48/000000/python--v1.png">
                <span>Python</span>
              </div>
            </div>
              <div class="bar">
              <div class="info">
                <img src="https://img.icons8.com/color/48/000000/mysql-logo.png">
                <span>MySQL</span>
              </div>
            </div>
                         <div class="bar">
              <div class="info">
                <img src="https://img.icons8.com/color/48/000000/postgreesql.png">
                <span>PostgreSQl</span>
              </div>
            </div>
                         <div class="bar">
              <div class="info">
                <img src="https://img.icons8.com/ios-filled/48/1169ae/jquery.png">
                <span>JQuery</span>
              </div>
            </div>
                         <div class="bar">
              <div class="info">
                <img src="https://img.icons8.com/color/48/000000/git.png">
                <span>git VCS</span>
              </div>
            </div>
                         <div class="bar">
              <div class="info">
                <img src="https://img.icons8.com/glyph-neue/48/ffffff/github.png">
                <span>github</span>
              </div>
            </div>
                   <div class="bar">
              <div class="info">
                <img src="https://img.icons8.com/color/48/000000/wordpress.png">
                <span>Wordpress</span>
              </div>
            </div>
                  <div class="bar">
              <div class="info">
                <img src="https://img.icons8.com/color/48/000000/angularjs.png">
                <span>Angular</span>
              </div>
            </div>
                  <div class="bar">
              <div class="info">
                <img src="https://img.icons8.com/color/48/000000/django.png">
                <span>Django</span>
              </div>
            </div>
                  <div class="bar">
              <div class="info">
                <img src="https://img.icons8.com/color/48/000000/typescript.png">
                <span>TypeScript</span>
              </div>
            </div>
   <div class="bar">
              <div class="info">
                <img src="https://img.icons8.com/color/48/000000/pycharm.png">
                <span>PyCharm</span>
              </div>
            </div>
             <div class="bar">
              <div class="info">
                <img src="https://img.icons8.com/color/48/000000/visual-studio-code-2019.png">
                <span>Visual Studio code</span>
              </div>
            </div>
<div class="bar">
              <div class="info">
                <img src="https://img.icons8.com/color/48/000000/nodejs.png">
                <span>Node JS</span>
              </div>
            </div>

              </div>
            </div>


</section>
{%endblock%}